<% layout('./layouts/boilerplate.ejs') -%>
<form action="/login" method="post" novalidate class=" needs-validation">
  <div class="row mt-1">
    <div class="col-8 offset-2"><h3><b>Login for WanderLust</b></h3></div>
    <div class="col-8 offset-2">
        <div class="mt-3 mb-3">
            <label for="title" class="form-label">Username :</label>
            <input
              type="text"
              name="username"             
              class="form-control"
              required
            />
        </div>
      
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              name="password"
             
              class="form-control"
              required
            />
        </div>
        <div class="mb-3">
           <button class="btn btn-success">Login</button>
        </div>
    </div>
  </div>
</form>
