<% layout('./layouts/boilerplate.ejs') -%>
<form action="/listings/signup" method="post" novalidate class=" needs-validation">
  <div class="row mt-1">
    <div class="col-8 offset-2"><h3><b>Signup for WanderLust</b></h3></div>
    <div class="col-8 offset-2">
        <div class="mt-3 mb-3">
            <label for="title" class="form-label">Username :</label>
            <input
              type="text"
              name="username"             
              class="form-control"
              required
            />
           <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
         Please enter the username
          </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email :</label>
            <input
              type="email"
              name="email"
             
              class="form-control"
              required
            />
           <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
         Please enter valid email 
          </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              name="password"
             
              class="form-control"
              required
            />
           <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
         Please enter password
          </div>
        </div>
        <div class="mb-3">
           <button class="btn btn-success">Signup</button>
        </div>
    </div>
  </div>
</form>
